.footer-container {
    color: var(--body_color);
    padding: 1rem 2rem 0.5rem 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 215, 0, 0.7);
}

.contact {
    color: black;
    font-size: large;
    font-weight: bold;
    word-spacing: 0.3rem;
    margin-bottom: 0.8rem;
}


.footer-row {
    width: 40%;
    display: flex;

    gap: 2rem;
}

.row img {
    width: 2rem;
    height: auto;
}

.welcome {
    font-size: 0.6rem;
    color: rgb(22, 20, 20);
}

@media (max-width: 426px) {
    .footer-row {
        gap: 1rem;
    }
}