.fa-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s ease-in-out; /* 添加透明度过渡效果 */
}

.text {
    color: var(--body_color);
    margin-bottom: 44px;
}

.text h1 {
    font-family: 'Playpen Sans', cursive;
}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box {
    padding: 2px;
    width: 20%;
    height: 16px;
    border: var(--loading_line_border);
    border-radius: 20px;
}

.loading .line-box .load-line {
    height: 10px;
    border-radius: 20px;
    background-color: rgb(255, 230, 0) ; 
    animation: loading 1s forwards cubic-bezier(0, 0, 0, 0);
}

.fade-out {
    opacity: 0;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}