.info-container {
    display: flex;
    align-items: center;
}

.info-image {
    flex: 1; /* 佔據剩餘空間，以比例計算，如版面中還有其他flex:1，就是把畫面分兩份(這邊拿到就是1/2)，flex:2就是分三分(這邊拿到就是1/3) */
}

.info-image img {
    max-width: 100%; /* 圖片寬度不超過容器 */
    height: auto; /* 保持圖片比例 */
}

.info {
    flex: 1;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.5;
    padding: 2rem;
    margin: 0 auto;  /* 居中 */
}

.intro-container {
    display: flex;
    justify-content: center; /* 水平置中 */
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8rem 6rem 8rem;
    line-height: 2;
    text-align: justify;
    /* max-width: 80%; */
    /* margin: 0 auto;  居中 */
}

.intro p {
    text-indent: 2em; /* 兩個全形空白的寬度 */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 1rem;
    width: 100%;
}
   
@media (max-width: 1024px) {
    .info-container {
        flex-direction: column;
    }
    .intro {
        padding: 1rem 2rem 4rem 2rem;
    }
}

@media (max-width: 480px) {
    .info {
        font-size: 1rem;
    }
    .row {
        gap: 0.5rem;
    }
}
