.protfolio-title {
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.ProtfolioCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 8rem 2rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 50%;
    height: 16rem; /* 設定固定高度 */
    box-shadow: var(--card_shadow);
    transition: 0.1s ease-in;
    border-radius: 0.6rem;
    padding: 2rem;
}

.card-container:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 3px 3px rgba(255, 235, 56, 0.5);
}

.image-container {
    aspect-ratio: 1/1; 
    width: 100%; 
    max-width: 12rem; 
    /* 以上讓圖片維持正正方型比例縮放 */
    border-radius: 0.6rem;
    margin-right: 0.5rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* 填滿可用高度 */
    flex: 1;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.card-body {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tech-icons {
    display: flex;
    gap: 1rem;
}

.tech-icon {
    width: 2rem;
    height: auto;
}

.see-btn {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.see-btn button {
    background-color: var(--see_btn_bg);
    padding: 0.3rem 0.6rem;
    border: none;
    transition: 0.2s;
    border-radius: 0.5rem;
    cursor: pointer;
}

.see-btn button:hover {
    background-color: rgba(255, 235, 56, 0.5);
}

.see-btn button a {
    color: var(--body_color);
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 1440px) {
    .card-container {
        width: 80%;
        height: 16rem;
    }
    .image-container {
        width: 12rem;
        height: 12rem;
    }
}

@media (max-width: 1024px) {
    .card-container {
        width: 90%;
        height: 12rem;
    }
    .image-container {
        width: 8rem;
        height: 8rem;
    }
    .card-body {
        display: none;
    }
}

@media (max-width: 808px) {
    .card-container {
        height: 10rem;
    }
    .image-container {
        width: 6rem;
        height: 6rem;
    }
    .card-title {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .card-container {
        width: 100%;
        position: relative;
    }
    .see-btn {
        position: absolute;
        right: 0.5rem;
        margin-top: 0.5rem;
    }
    .tech-icons {
        overflow: hidden;
    }
    .tech-icon {
        width: 1rem;
    }
}
@media (max-width: 550px) {
    .card-title {
        font-size: 0.8rem;
    }
    .see-btn button a {
        font-size: 1rem;
    }
}
@media (max-width: 426px) {
    .card-title {
        font-size: 0.6rem;
    }
    .tech-icons {
        gap: 0.5rem;
    }
    .see-btn button a {
        font-size: 0.8rem;
    }
}
