/* .card {
    padding: 10px 40px;
} */

.card-container {
    margin-top: 3rem;
    width: 300px;
    height: 430px;
    overflow: hidden;
    box-shadow: var(--card_shadow);
    transition: 0.1s ease-in;
    border-radius: 0.6rem;
}

.card-container:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 3px 3px rgba(255, 235, 56, 0.5);
}

.image-container {
    overflow: hidden;
    height: 200px;
    border-radius: 3.8rem;
}

.image-container img {
    padding: 1rem;
    margin-bottom: 0;
    width: 100%;   
    height: 100%;   
    object-fit: cover;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}

.card-body {
    height: 90px;
    overflow: auto;
    font-size: 20px;
}

h3, p {
    /* 重製默認樣式 */
    margin: 0;
    padding: 0;
}

.card-title {
    margin-bottom: 0.5rem;
}

.see-btn {
    display: flex;
    justify-content: center;
}

.see-btn button {
    background-color: var(--see_btn_bg);
    padding: 0.3rem;
    border: none;
    transition: 0.2s;
    border-radius: 0.5rem;
}

.see-btn button:hover {
    background-color: rgba(255, 235, 56, 0.5);;
}

.see-btn button a {
    color: var( --body_color);
    text-decoration: none;
    font-weight: bold;
}

.ProtfolioCard {
    display: flex;
    flex-wrap: wrap; /* 卡片自动換行 */
    justify-content: space-between;
    padding: 40px;
}